@model Trip
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />

<div class="favoriteLabel">@Model.TripName</div>
<div>
    <div>
        <input class="inputtext" type="text" id="newname" placeholder="Type new name of Trip" />
        <input class="smallbutton" type="button" onclick="renameTrip()" value="Rename Trip" />
    </div>
    <form method="post" action="/trip/deletetrip/@Model.Id">
        <input class="smallbutton" type="submit" value="Delete Trip" />
    </form>

    <p>
        <label class="favoriteLabel" for="items">Choose item to add:</label><br />
        <select id='eeeee' name="idItem">
            @foreach (Item i in ViewBag.ListOtItems)
            {
                <option value="@i.Id">@i.ItemName</option>
            }

        </select>
        <button class="smallbutton" onclick="addingNewItem()"> Add</button>
    </p>
</div>

<div>
    @foreach (var i in Model.ItemsToTrip)
    {
    <div class="items">
        <div class="favorite-item">@i.Item.ItemName</div>
        <div>
            <button class="smallbutton" onclick="deleteItem(@i.Id)"> Delete</button>
        </div>
    </div>
    }
</div>


<script>
var idItem;
var newName;
var IdTrip = @Model.Id;

function deleteItem(x) {
        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/trip/deleteitemfromtrip/'+x, false);
        xhttp.send();
        window.location.reload();
        }

function addingNewItem(){
        var e = document.getElementById("eeeee");
        idItem = e.value;
        AJAXCalltoAddItem(idItem);
}
function AJAXCalltoAddItem(idItem){
        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', '/trip/addingItemToExistingTrip?idItem='+idItem + '&IdTrip=' + IdTrip.toString(), false);
        xhttp.send();
        window.location.reload();
    }

function renameTrip() {
    var e = document.getElementById("newname");
    newName = e.value;
    AJAXCalltoRenameTrip(newName);
    }
function AJAXCalltoRenameTrip(newName) {
    var xhttp = new XMLHttpRequest(); //int IdTrip, string newName
    xhttp.open('POST', '/trip/renametrip?IdTrip=' + IdTrip + '&newName=' + newName, false);
        xhttp.send();
        window.location.reload();
    }

</script>